<table class="table" *ngIf="gtFields">
    <thead>
        <tr>
            <th *ngFor="let column of gtFields">
                <span
                    *ngIf="!(gtFields | tableProperty:column.objectKey:'header')">{{gtFields | tableProperty:column.objectKey:'name'}}</span>
            </th>
        </tr>
    </thead>
    <tbody *ngIf="gtData">
        <tr *ngFor="let column of gtData">
            <td *ngFor="let c of gtFields">
                {{column.name}}
            </td>
        </tr>
    </tbody>
</table>